<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
            id="jp.ac.kyushu.iarch.checkPlugin.configurationCommand"
            name="Check Archface Configuration">
      </command>
      <command
            categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
            id="jp.ac.kyushu.iarch.checkPlugin.checkArchfaceCommand"
            name="Check Archface Command">
      </command>
      <category
            description="iArch Category"
            id="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
            name="iArch Category">
      </category>
      <command
            categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
            id="jp.ac.kyushu.iarch.checkPlugin.checkASTCommand"
            name="Check AST">
      </command>
	  <command
            categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
            id="jp.ac.kyushu.iarch.checkPlugin.generateArch"
            name="Generate ArchCode">
      </command>
   <command
         categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
         id="jp.ac.kyushu.iarch.checkPlugin.checkARCommand"
         name="Check AR">
   </command>
   
    <command
         categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
         id="jp.ac.kyushu.iarch.checkPlugin.AddMethod"
         name="AddMethodSample">
   </command>
   
       <command
         categoryId="jp.ac.kyushu.iarch.checkPlugin.iarchcategory"
         id="jp.ac.kyushu.iarch.checkPlugin.GeneratorGUI"
         name="GeneratorGUI">
   </command>
   
   
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="jp.ac.kyushu.iarch.checkPlugin.checkarchmenu"
               label="iArch"
               mnemonic="C">
            <command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.configurationCommand"
                  id="jp.ac.kyushu.iarch.checkPlugin.configurationCommandMenu"
                  label="Check Configuration"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.checkArchfaceCommand"
                  id="jp.ac.kyushu.iarch.checkPlugin.checkArchfaceCommandMenu"
                  label="Check Archface"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.checkASTCommand"
                  id="jp.ac.kyushu.iarch.checkPlugin.checkAstCommandMenu"
                  label="Check AST"
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.checkARCommand"
                  id="jp.ac.kyushu.iarch.checkPlugin.checkARCommandMenu"
                  label="Check AR"
                  style="push">
            </command>
			<command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.generateArch"
                  id="jp.ac.kyushu.iarch.checkPlugin.generateArchCode"
                  label="Generate ArchCode"
                  mnemonic="D"
                  style="push">
            </command>
            
            <command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.AddMethod"
                  id="jp.ac.kyushu.iarch.checkPlugin.AddMethodCode"
                  label="AddMethodSample"
                  mnemonic="D"
                  style="push">
            </command>

             <command
                  commandId="jp.ac.kyushu.iarch.checkPlugin.GeneratorGUI"
                  id="jp.ac.kyushu.iarch.checkPlugin.GeneratorGUI"
                  label="GeneratorGUISample"
                  mnemonic="D"
                  style="push">
            </command>
            
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.ConfigurationXMLHandler"
            commandId="jp.ac.kyushu.iarch.checkPlugin.configurationCommand">
      </handler>
      <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.CheckArchfaceHandler"
            commandId="jp.ac.kyushu.iarch.checkPlugin.checkArchfaceCommand">
      </handler>
            <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.CheckARHandler"
            commandId="jp.ac.kyushu.iarch.checkPlugin.checkARCommand">
      </handler>
      <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.CheckASTHandler"
            commandId="jp.ac.kyushu.iarch.checkPlugin.checkASTCommand">
      </handler>
	  <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.GenerateArchCode"
            commandId="jp.ac.kyushu.iarch.checkPlugin.generateArch">
      </handler>
      
 <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.AddMethod"
            commandId="jp.ac.kyushu.iarch.checkPlugin.AddMethod">
      </handler>
      
       <handler
            class="jp.ac.kyushu.iarch.checkplugin.handler.GeneratorGUI"
            commandId="jp.ac.kyushu.iarch.checkPlugin.GeneratorGUI">
      </handler>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jp.ac.kyushu.iarch.checkplugin.view.AbstractionRatioViewPart"
            id="jp.ac.kyushu.iarch.checkplugin.abstractionratioview"
            name="Abstraction Ratio View"
            restorable="true">
      </view>
      <view
            class="jp.ac.kyushu.iarch.checkplugin.view.SourceCodeCheckViewPart"
            id="jp.ac.kyushu.iarch.checkplugin.archfaceview"
            name="Archface View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.resources.fileModificationValidator">
         <fileModificationValidator class="jp.ac.kyushu.iarch.checkplugin.Savehook"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
         <startup class="jp.ac.kyushu.iarch.checkplugin.Savehook"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="jp.ac.kyushu.iarch.checkplugin.ArchfaceMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
